# Load data

Data can be download from [kraggle](https://www.kaggle.com/c/home-credit-default-risk/data) or directly [here](https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/Parcours_data_scientist/Projet+-+Impl%C3%A9menter+un+mod%C3%A8le+de+scoring/Projet+Mise+en+prod+-+home-credit-default-risk.zip). The projet concern a scoring score about cease of payment. Interactif dashboards are also present to understand the parameters behind the algorithm and the reason behind a refusal.

In [1]:
import numpy as np
import pandas as pd

from bokeh.plotting import output_notebook, figure, show
from bokeh.models import ColumnDataSource, Div, Select, Button, ColorBar, CustomJS
from bokeh.layouts import row, column, layout
from bokeh.transform import cumsum, linear_cmap
from bokeh.palettes import Blues8

output_notebook()

In [23]:
import joblib

# load the model from disk
mdl = joblib.load("logisitc_model1_gridSearch.joblib")
dt = pd.read_csv('data_for_server.csv')
dt.iloc[:,2:].columns

Index(['AMT_INCOME_TOTAL', 'AMT_ANNUITY', 'AGE', 'YEARS_EMPLOYED',
       'OWN_CAR_AGE', 'CNT_FAM_MEMBERS',
       'NAME_EDUCATION_TYPE_Higher education',
       'NAME_EDUCATION_TYPE_Incomplete higher', 'NAME_EDUCATION_TYPE_Other',
       'NAME_EDUCATION_TYPE_Secondary / secondary special',
       'NAME_FAMILY_STATUS_Civil marriage', 'NAME_FAMILY_STATUS_Married',
       'NAME_FAMILY_STATUS_Separated',
       'NAME_FAMILY_STATUS_Single / not married', 'NAME_FAMILY_STATUS_Widow',
       'NAME_CONTRACT_TYPE_Cash loans', 'NAME_CONTRACT_TYPE_Revolving loans',
       'OCCUPATION_TYPE_Accountants', 'OCCUPATION_TYPE_Core staff',
       'OCCUPATION_TYPE_Drivers', 'OCCUPATION_TYPE_HR staff',
       'OCCUPATION_TYPE_High skill tech staff', 'OCCUPATION_TYPE_IT staff',
       'OCCUPATION_TYPE_Laborers', 'OCCUPATION_TYPE_Managers',
       'OCCUPATION_TYPE_Medicine staff', 'OCCUPATION_TYPE_Other',
       'OCCUPATION_TYPE_Private service staff',
       'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Sales staff',
       'CREDIT_active', 'CREDIT_MEAN_OVERDUE_active', 'CREDIT_MEAN_active',
       'proportion_OVERDUE_active', 'CREDIT_sold', 'CREDIT_MEAN_OVERDUE_sold',
       'CREDIT_MEAN_sold', 'proportion_OVERDUE_sold', 'CREDIT_closed',
       'CREDIT_MEAN_OVERDUE_closed', 'CREDIT_MEAN_closed',
       'proportion_OVERDUE_closed', 'CREDIT_bad', 'CREDIT_MEAN_OVERDUE_bad',
       'CREDIT_MEAN_bad', 'proportion_OVERDUE_bad', 'previous_CREDIT',
       'Number_years_Loan_Theorical', 'AMT_CREDIT_ANNUITY_RATIO'],
      dtype='object')

In [20]:

mdl.predict(dt.iloc[:,2:].to_numpy())

ValueError: X has 49 features per sample; expecting 50

In [11]:
tmp = dt.to_numpy()
mdl.predict(dt)

ValueError: X has 51 features per sample; expecting 50

In [14]:
col = ['AMT_INCOME_TOTAL', 'AMT_ANNUITY', 'AGE', 'YEARS_EMPLOYED', 'OWN_CAR_AGE', 'CNT_FAM_MEMBERS',
'NAME_EDUCATION_TYPE_Higher education', 'NAME_EDUCATION_TYPE_Incomplete higher', 'NAME_EDUCATION_TYPE_Other',
'NAME_EDUCATION_TYPE_Secondary / secondary special',
'NAME_FAMILY_STATUS_Civil marriage', 'NAME_FAMILY_STATUS_Married',
'NAME_FAMILY_STATUS_Separated',
'NAME_FAMILY_STATUS_Single / not married', 'NAME_FAMILY_STATUS_Widow',
'NAME_CONTRACT_TYPE_Cash loans', 'NAME_CONTRACT_TYPE_Revolving loans',
'CODE_GENDER_M', 'OCCUPATION_TYPE_Accountants',
'OCCUPATION_TYPE_Core staff', 'OCCUPATION_TYPE_Drivers',
'OCCUPATION_TYPE_HR staff', 'OCCUPATION_TYPE_High skill tech staff',
'OCCUPATION_TYPE_IT staff', 'OCCUPATION_TYPE_Laborers',
'OCCUPATION_TYPE_Managers', 'OCCUPATION_TYPE_Medicine staff',
'OCCUPATION_TYPE_Other', 'OCCUPATION_TYPE_Private service staff',
'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Sales staff',
'CREDIT_active', 'CREDIT_MEAN_OVERDUE_active', 'CREDIT_MEAN_active',
'proportion_OVERDUE_active', 'CREDIT_sold', 'CREDIT_MEAN_OVERDUE_sold',
'CREDIT_MEAN_sold', 'proportion_OVERDUE_sold', 'CREDIT_closed',
'CREDIT_MEAN_OVERDUE_closed', 'CREDIT_MEAN_closed',
'proportion_OVERDUE_closed', 'CREDIT_bad', 'CREDIT_MEAN_OVERDUE_bad',
'CREDIT_MEAN_bad', 'proportion_OVERDUE_bad', 'previous_CREDIT',
'Number_years_Loan_Theorical', 'AMT_CREDIT_ANNUITY_RATIO']
tmp = {}
for c in col:
    tmp[c] = [0]
pd.DataFrame(data = tmp)

#pd.DataFrame(tmp)

,AMT_INCOME_TOTAL,AMT_ANNUITY,AGE,YEARS_EMPLOYED,OWN_CAR_AGE,CNT_FAM_MEMBERS,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Other,NAME_EDUCATION_TYPE_Secondary / secondary special,...,CREDIT_MEAN_OVERDUE_closed,CREDIT_MEAN_closed,proportion_OVERDUE_closed,CREDIT_bad,CREDIT_MEAN_OVERDUE_bad,CREDIT_MEAN_bad,proportion_OVERDUE_bad,previous_CREDIT,Number_years_Loan_Theorical,AMT_CREDIT_ANNUITY_RATIO
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df_test = pd.read_csv('application_test.csv')
df_train = pd.read_csv('application_train.csv')
df_bureau = pd.read_csv('bureau.csv')
df_bureau_balance = pd.read_csv('bureau_balance.csv')
df_credit_balance = pd.read_csv('credit_card_balance.csv')
df_home_credit = pd.read_csv("HomeCredit_columns_description.csv")
df_installments_payments = pd.read_csv("installments_payments.csv")
df_POS_CASH_balance = pd.read_csv("POS_CASH_balance.csv")
df_previous_application = pd.read_csv("previous_application.csv")
df_sample_submission = pd.read_csv("sample_submission.csv")

In [5]:
df_train.head(3)
#This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET).
#Static data for all applications. One row represents one loan in our data sample.

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
tmp = ""
for cpt, elment in enumerate(df_train.columns):
    if cpt % 3 == 0:
        print(tmp)
        tmp=""
    tmp +="\t\t"+elment
print(tmp)

		SK_ID_CURR		TARGET		NAME_CONTRACT_TYPE
		CODE_GENDER		FLAG_OWN_CAR		FLAG_OWN_REALTY
		CNT_CHILDREN		AMT_INCOME_TOTAL		AMT_CREDIT
		AMT_ANNUITY		AMT_GOODS_PRICE		NAME_TYPE_SUITE
		NAME_INCOME_TYPE		NAME_EDUCATION_TYPE		NAME_FAMILY_STATUS
		NAME_HOUSING_TYPE		REGION_POPULATION_RELATIVE		DAYS_BIRTH
		DAYS_EMPLOYED		DAYS_REGISTRATION		DAYS_ID_PUBLISH
		OWN_CAR_AGE		FLAG_MOBIL		FLAG_EMP_PHONE
		FLAG_WORK_PHONE		FLAG_CONT_MOBILE		FLAG_PHONE
		FLAG_EMAIL		OCCUPATION_TYPE		CNT_FAM_MEMBERS
		REGION_RATING_CLIENT		REGION_RATING_CLIENT_W_CITY		WEEKDAY_APPR_PROCESS_START
		HOUR_APPR_PROCESS_START		REG_REGION_NOT_LIVE_REGION		REG_REGION_NOT_WORK_REGION
		LIVE_REGION_NOT_WORK_REGION		REG_CITY_NOT_LIVE_CITY		REG_CITY_NOT_WORK_CITY
		LIVE_CITY_NOT_WORK_CITY		ORGANIZATION_TYPE		EXT_SOURCE_1
		EXT_SOURCE_2		EXT_SOURCE_3		APARTMENTS_AVG
		BASEMENTAREA_AVG		YEARS_BEGINEXPLUATATION_AVG		YEARS_BUILD_AVG
		COMMONAREA_AVG		ELEVATORS_AVG		ENTRANCES_AVG
		FLOORSMAX_AVG		FLOORSMIN_AVG		LANDAREA_AVG
		LIVINGAPARTMENTS_AVG		LIVINGAREA_AVG		NONLIVINGAPARTMENTS_AVG
		NONLIVINGAREA_AVG		APARTMENTS_MODE		BASEMENTAREA_MODE
		YEARS_BEGINEXPLUATATION_MODE		YEARS_BUILD_MODE		COMMONAREA_MODE
		ELEVATORS_MODE		ENTRANCES_MODE		FLOORSMAX_MODE
		FLOORSMIN_MODE		LANDAREA_MODE		LIVINGAPARTMENTS_MODE
		LIVINGAREA_MODE		NONLIVINGAPARTMENTS_MODE		NONLIVINGAREA_MODE
		APARTMENTS_MEDI		BASEMENTAREA_MEDI		YEARS_BEGINEXPLUATATION_MEDI
		YEARS_BUILD_MEDI		COMMONAREA_MEDI		ELEVATORS_MEDI
		ENTRANCES_MEDI		FLOORSMAX_MEDI		FLOORSMIN_MEDI
		LANDAREA_MEDI		LIVINGAPARTMENTS_MEDI		LIVINGAREA_MEDI
		NONLIVINGAPARTMENTS_MEDI		NONLIVINGAREA_MEDI		FONDKAPREMONT_MODE
		HOUSETYPE_MODE		TOTALAREA_MODE		WALLSMATERIAL_MODE
		EMERGENCYSTATE_MODE		OBS_30_CNT_SOCIAL_CIRCLE		DEF_30_CNT_SOCIAL_CIRCLE
		OBS_60_CNT_SOCIAL_CIRCLE		DEF_60_CNT_SOCIAL_CIRCLE		DAYS_LAST_PHONE_CHANGE
		FLAG_DOCUMENT_2		FLAG_DOCUMENT_3		FLAG_DOCUMENT_4
		FLAG_DOCUMENT_5		FLAG_DOCUMENT_6		FLAG_DOCUMENT_7
		FLAG_DOCUMENT_8		FLAG_DOCUMENT_9		FLAG_DOCUMENT_10
		FLAG_DOCUMENT_11		FLAG_DOCUMENT_12		FLAG_DOCUMENT_13
		FLAG_DOCUMENT_14		FLAG_DOCUMENT_15		FLAG_DOCUMENT_16
		FLAG_DOCUMENT_17		FLAG_DOCUMENT_18		FLAG_DOCUMENT_19
		FLAG_DOCUMENT_20		FLAG_DOCUMENT_21		AMT_REQ_CREDIT_BUREAU_HOUR
		AMT_REQ_CREDIT_BUREAU_DAY		AMT_REQ_CREDIT_BUREAU_WEEK		AMT_REQ_CREDIT_BUREAU_MON
		AMT_REQ_CREDIT_BUREAU_QRT		AMT_REQ_CREDIT_BUREAU_YEAR

## Bureau

In [6]:
df_bureau.head(3)
#All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).
#For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN

In [41]:
df_bureau.describe()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
count,1.716428e+06,1.716428e+06,1.716428e+06,1.716428e+06,1.610875e+06,1.082775e+06,5.919400e+05,1.716428e+06,1.716415e+06,1.458759e+06,1.124648e+06,1.716428e+06,1.716428e+06,4.896370e+05
mean,2.782149e+05,5.924434e+06,-1.142108e+03,8.181666e-01,5.105174e+02,-1.017437e+03,3.825418e+03,6.410406e-03,3.549946e+05,1.370851e+05,6.229515e+03,3.791276e+01,-5.937483e+02,1.571276e+04
std,1.029386e+05,5.322657e+05,7.951649e+02,3.654443e+01,4.994220e+03,7.140106e+02,2.060316e+05,9.622391e-02,1.149811e+06,6.774011e+05,4.503203e+04,5.937650e+03,7.207473e+02,3.258269e+05
min,1.000010e+05,5.000000e+06,-2.922000e+03,0.000000e+00,-4.206000e+04,-4.202300e+04,0.000000e+00,0.000000e+00,0.000000e+00,-4.705600e+06,-5.864061e+05,0.000000e+00,-4.194700e+04,0.000000e+00
25%,1.888668e+05,5.463954e+06,-1.666000e+03,0.000000e+00,-1.138000e+03,-1.489000e+03,0.000000e+00,0.000000e+00,5.130000e+04,0.000000e+00,0.000000e+00,0.000000e+00,-9.080000e+02,0.000000e+00
50%,2.780550e+05,5.926304e+06,-9.870000e+02,0.000000e+00,-3.300000e+02,-8.970000e+02,0.000000e+00,0.000000e+00,1.255185e+05,0.000000e+00,0.000000e+00,0.000000e+00,-3.950000e+02,0.000000e+00
75%,3.674260e+05,6.385681e+06,-4.740000e+02,0.000000e+00,4.740000e+02,-4.250000e+02,0.000000e+00,0.000000e+00,3.150000e+05,4.015350e+04,0.000000e+00,0.000000e+00,-3.300000e+01,1.350000e+04
max,4.562550e+05,6.843457e+06,0.000000e+00,2.792000e+03,3.119900e+04,0.000000e+00,1.159872e+08,9.000000e+00,5.850000e+08,1.701000e+08,4.705600e+06,3.756681e+06,3.720000e+02,1.184534e+08

In [35]:
df_bureau.shape

(1716428, 17)

In [42]:
bureau = df_bureau.drop(columns=["DAYS_ENDDATE_FACT", "AMT_ANNUITY"])
#keep only row whith recent update

## Bureau balance

In [8]:
df_bureau_balance.head(3)
#Monthly balances of previous credits in Credit Bureau.
#This table has one row for each month of history of every previous credit reported to Credit Bureau – i.e the table has 
#(#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C

In [33]:
df_bureau_balance.shape

(27299925, 3)

## Crédit balance

In [9]:
df_credit_balance.head(3)
#Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.
#This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0

In [21]:
df_credit_balance.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
count,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,...,3.840312e+06,3.840312e+06,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,3.840312e+06,3.840312e+06
mean,1.904504e+06,2.783242e+05,-3.452192e+01,5.830016e+04,1.538080e+05,5.961325e+03,7.433388e+03,2.881696e+02,2.968805e+03,3.540204e+03,...,5.596588e+04,5.808881e+04,5.809829e+04,3.094490e-01,7.031439e-01,4.812496e-03,5.594791e-01,2.082508e+01,9.283667e+00,3.316220e-01
std,5.364695e+05,1.027045e+05,2.666775e+01,1.063070e+05,1.651457e+05,2.822569e+04,3.384608e+04,8.201989e+03,2.079689e+04,5.600154e+03,...,1.025336e+05,1.059654e+05,1.059718e+05,1.100401e+00,3.190347e+00,8.263861e-02,3.240649e+00,2.005149e+01,9.751570e+01,2.147923e+01
min,1.000018e+06,1.000060e+05,-9.600000e+01,-4.202502e+05,0.000000e+00,-6.827310e+03,-6.211620e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,-4.233058e+05,-4.202502e+05,-4.202502e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434385e+06,1.895170e+05,-5.500000e+01,0.000000e+00,4.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00
50%,1.897122e+06,2.783960e+05,-2.800000e+01,0.000000e+00,1.125000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01,0.000000e+00,0.000000e+00
75%,2.369328e+06,3.675800e+05,-1.100000e+01,8.904669e+04,1.800000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.633911e+03,...,8.535924e+04,8.889949e+04,8.891451e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.200000e+01,0.000000e+00,0.000000e+00
max,2.843496e+06,4.562500e+05,-1.000000e+00,1.505902e+06,1.350000e+06,2.115000e+06,2.287098e+06,1.529847e+06,2.239274e+06,2.028820e+05,...,1.472317e+06,1.493338e+06,1.493338e+06,5.100000e+01,1.650000e+02,1.200000e+01,1.650000e+02,1.200000e+02,3.260000e+03,3.260000e+03

In [23]:
df_credit_balance["SK_ID_CURR"].value_counts()

186401    192
311118    178
120076    140
128827    129
432607    128
         ...
444164      1
434166      1
380770      1
268294      1
100115      1
Name: SK_ID_CURR, Length: 103558, dtype: int64

In [34]:
df_credit_balance.shape

(3840312, 23)

## Home crédit

In [19]:
df_home_credit.head(10)
#explain label

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN

In [36]:
df_home_credit.shape

(219, 5)

## Installments payments

In [11]:
df_installments_payments.head(3)
#Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.
#There is a) one row for every payment that was made plus b) one row each for missed payment.
#One row is equivalent to one payment of one installment OR one installment corresponding to one payment 
#of one previous Home Credit credit related to loans in our sample.

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000

In [37]:
df_installments_payments.shape

(13605401, 8)

## POS CASH balance

In [12]:
df_POS_CASH_balance.head(3)
#Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit.
#This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans)
#related to loans in our sample – i.e. the table has 
#(#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0

In [38]:
df_POS_CASH_balance.shape

(10001358, 8)

## previous_application

In [13]:
df_previous_application.head(3)
#All previous applications for Home Credit loans of clients who have loans in our sample.
#There is one row for each previous application related to loans in our data sample.

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0

In [40]:
df_previous_application.shape

(1670214, 37)

## sample submission

In [14]:
df_sample_submission.head(3)

   SK_ID_CURR  TARGET
0      100001     0.5
1      100005     0.5
2      100013     0.5

In [39]:
df_previous_application.shape

(1670214, 37)

## Merge tables

In [32]:
merged_df = df_credit_balance.merge(df_installments_payments, how = 'inner', on = ['SK_ID_PREV', 'SK_ID_CURR'])

MemoryError: Unable to allocate 14.0 GiB for an array with shape (7, 268043702) and data type int64

# 2. Interactive bar chart with text display block

The first chart will display the sex (female or male) of Titanic survivors depending on the lifeboats which they boarded. For this purpose I will be using an interactive bar chart which will display the number of people when hovering over the bars. To make this chart more interactive, I will add an HTML content block that will display additional text information about the lifeboat survivors when one of the bars is selected.

I start by creating a new DataFrame `df1` with the columns `Lifeboat` and `Sex`. Don't forget to set is as a copy to avoid `SettingWithCopyWarning` further down the code.

In [ ]:
df1 = full[['Lifeboat', 'Sex']].copy()
df1.head()

I filter out the entries that contain `NaN` or `?` in the column `Lifeboat` and remove the unnecessary symbols. Then I create dummy variables from the column `Sex` in order to count how many females/males were present in each lifeboat. The prefix and the separator of dummy variables are made empty to avoid long column names.

In [ ]:
df1 = df1[(df1.Lifeboat.notna()) & (df1.Lifeboat != '?')]

df1.loc[df1.Lifeboat == '14?', 'Lifeboat'] = '14'
df1.loc[df1.Lifeboat == '15?', 'Lifeboat'] = '15'
df1.loc[df1.Lifeboat == 'A[64]', 'Lifeboat'] = 'A'

df1 = pd.get_dummies(df1, columns=['Sex'], prefix='', prefix_sep='')

df1.head()

Then I group the rows according to the values in `Lifeboat` and sum up the number of females/males.

In [ ]:
df1 = df1.groupby('Lifeboat', as_index=False).sum()

df1.head()

I thought that it would be interesting to arrange lifeboats according to the order in which they were launched (taken from [Wikipedia](https://en.wikipedia.org/wiki/Lifeboats_of_the_RMS_Titanic)).

In [ ]:
order = ['7', '5', '3', '8', '1', '6', '16', '14', '12', '9',
         '11', '13', '15', '2', '10', '4', 'C', 'D', 'B', 'A']
df1 = df1.set_index('Lifeboat').reindex(order).reset_index()

df1.head()

I add the columns `female_per` and `male_per` that correspond to the percentages of females/males (rounded to one decimal value), and the column `Side` that corresponds to the side of the ship from which the lifeboats were launched. Lifeboats with odd numbers were launched from the starboard side and lifeboats with even numbers from the port side.

In [ ]:
df1['female_per'] = df1['female'] / (df1['female'] + df1['male']) * 100
df1['male_per'] = df1['male'] / (df1['female'] + df1['male']) * 100
df1[['female_per', 'male_per']] = df1[['female_per', 'male_per']].round(1)

lifeboat_odd = ['1', '3', '5', '7', '9', '11', '13', '15', 'A', 'C']
df1.loc[df1.Lifeboat.isin(lifeboat_odd), 'Side'] = 'starboard'
df1.loc[~df1.Lifeboat.isin(lifeboat_odd), 'Side'] = 'port'

df1.head()

Below is the code for the bar chart.

In order to interact with data in Bokeh, it is recommended to use its own data object ColumnDataSource (CDS). CDS allows some very nice interactive features like linking, streaming, etc. (see more in the [Bokeh User Guide](https://bokeh.pydata.org/en/latest/docs/user_guide/data.html)). The Pandas DataFrame `df1` can be provided as input to create the CDS `s1`.

The central part of a Bokeh graph is the figure object that can be conveniently created with the function `figure()`. Since the bar chart will be categorical, the list of lifeboats should be passed from the CDS `s1.data['Lifeboat']` to the parameter `x_range`. Note that the list of lifeboats doesn't necessarily have to come from the CDS but I prefer to use only the CDS after it has been initialized. The tools `hover` and `tap`are added to the figure. The parameter `tooltips='@$name'` says that the hover tooltip will show the number of females/males of each bar while hovering over them.

Here I chose to create a stacked vertical bar chart and added the corresponding glyph `vbar_stack` to the figure `p1`. The numbers of females/males in the lifeboats are taken from `s1` that was defined earlier. Some parameters of `p1` (like axis labels, grid lines, legend location, etc.) are adjusted separately.

I would also like to create an HTML content block that will display additional text information about the specific lifeboat when its corresponding bar is selected. For this purpose I can initialize the Div object `div1` that encloses its contents in the HTML tag `<div>`.

The interaction between the figure `p1` and the object `div1` is specified by the method `js_on_event()` that executes `callback1` whenever the user clicks on a bar from the bar chart. `callback1` is a custom JavaScript object that brings additional interactivity. One could also use [Bokeh applications](https://bokeh.pydata.org/en/latest/docs/user_guide/embed.html) that only requires Python but I couldn't figure out how to run Bokeh applications within a Kaggle noteobook.

To test the resulting bar chart, go ahead and click on one of the bars. 😎

In [ ]:
# Create the ColumnDataSource object "s1"
s1 = ColumnDataSource(df1)

# Create the figure object "p1"
p1 = figure(title='Click on a column to display more information',
            plot_width=500, plot_height=325, x_range = s1.data['Lifeboat'],
            toolbar_location=None, tools=['hover', 'tap'], tooltips='@$name')

# Add stacked vertical bars to "p1"
p1.vbar_stack(['female', 'male'], x='Lifeboat', width=0.8, source=s1,
              fill_color=['#66c2a5', '#fc8d62'], line_color=None, legend=['Female', 'Male'])

# Change parameters of "p1"
p1.title.align = 'center'
p1.xaxis.axis_label = 'Lifeboat (in launch order)'
p1.yaxis.axis_label = 'Count'
p1.y_range.start = 0
p1.x_range.range_padding = 0.05
p1.xgrid.grid_line_color = None
p1.legend.orientation = 'horizontal'
p1.legend.location = 'top_left'

# Create the Div object "div1"
div1 = Div()

# Create the custom JavaScript callback
callback1 = CustomJS(args=dict(s1=s1, div1=div1), code='''
    var ind = s1.selected.indices;
    if (String(ind) != '') {
        lifeboat = s1.data['Lifeboat'][ind];
        female = s1.data['female'][ind];
        male = s1.data['male'][ind];
        female_per = s1.data['female_per'][ind];
        male_per = s1.data['male_per'][ind];
        side = s1.data['Side'][ind];
        message = '<b>Lifeboat: ' + String(lifeboat) + ' (' + String(side) + ' side)' + '</b><br>Females: ' + String(female) + ' (' + String(female_per) +  '%)' + '<br>Males: ' + String(male) + ' (' + String(male_per) +  '%)' + '<br>Total: ' + String(female+male);
        div1.text = message;
    }
    else {
        div1.text = '';
    }
''')        

# When tapping the plot "p1" execute the "callback1"
p1.js_on_event('tap', callback1)

# Display "p1" and "div1" as a row
show(row(p1, div1))

It's worth noting that the number of people on this bar chart is lower than the real numbers. This is because there were quite some crew members in the lifeboats who are not included in this passengers list.

Another observation is that most of the lifeboats were not filled to their maximum capacity. The most striking examples is the lifeboat 1 that had only 12 people in it (5 passengers and 7 crew members) with its full capacity of 40 people! The reason behind it was that in the beginning many passengers didn't believe that Titanic would sink.

One might also notice that the number of males in the lifeboats was very high especially in the lifeboats launched from the starboard side (odd numbers). In comparison, the loading crew on the port side was much stricter with the rule "women and children first".

# 3. Interactive pie chart with dropdown menu

The second chart will display distribution of classes among the Titanic survivors depending on the lifeboats. For this purpose I will be using the interactive pie chart and the dropdown menu with the list of all lifeboats. When a lifeboat number is selected in the dropdown menu, the pie chart should update the distribution of classes.

I begin by creating a DataFrame `df2` with the columns `Lifeboat` and `Pclass`. Then I apply the same procedures for cleaning, creating dummy variables, grouping and reordering as in the previous section.

In [ ]:
df2 = full[['Lifeboat', 'Pclass']].copy()

df2 = df2[(df2.Lifeboat.notna()) & (df2.Lifeboat != '?')]

df2.loc[df2.Lifeboat == '14?', 'Lifeboat'] = '14'
df2.loc[df2.Lifeboat == '15?', 'Lifeboat'] = '15'
df2.loc[df2.Lifeboat == 'A[64]', 'Lifeboat'] = 'A'

df2 = pd.get_dummies(df2, columns=['Pclass'], prefix='', prefix_sep='')

df2 = df2.groupby('Lifeboat', as_index=False).sum()

order = ['7', '5', '3', '8', '1', '6', '16', '14', '12', '9',
         '11', '13', '15', '2', '10', '4', 'C', 'D', 'B', 'A']
df2 = df2.set_index('Lifeboat').reindex(order).reset_index()

df2.head()

Instead of the amount of people per class I would prefer to see their percentage per class in a certain lifeboat. Therefore, I add columns `1_per`, `2_per`, `3_per` that indicate percentages of the corresponding classes.

For a pie chart I will need to specify the angles (in radians) for each of the sectors. These angles are added as columns `1_ang`, `2_ang`, `3_ang` and can be easily obtained from the percentages.

In [ ]:
df2['1_per'] = df2['1'] / (df2['1'] + df2['2'] + df2['3']) * 100
df2['2_per'] = df2['2'] / (df2['1'] + df2['2'] + df2['3']) * 100
df2['3_per'] = df2['3'] / (df2['1'] + df2['2'] + df2['3']) * 100


df2['1_ang'] = df2['1_per'] / 100 * 2 * np.pi
df2['2_ang'] = df2['2_per'] / 100 * 2 * np.pi
df2['3_ang'] = df2['3_per'] / 100 * 2 * np.pi

df2.head()

Notice that `df2` contains percentages and angles for all lifeboats. On the pie chart, however, I can only display the distribution of classes for one lifeboat. Therefore, a separate DataFrame `df2_plot` like the one below is needed for plotting. The percentages and angles will be passed from `df2` to `df2_plot` when a particular lifeboat is selected from the dropdown menu.

In [ ]:
df2_plot=pd.DataFrame({'class': ['Class 1', 'Class 2', 'Class 3'],
                       'percent': [float('nan'), float('nan'), float('nan')],
                       'angle': [float('nan'), float('nan'), float('nan')],
                       'color': ['#c9d9d3', '#718dbf', '#e84d60']})
df2_plot

Below is the code for the pie chart.

Just like in the case of the bar chart, first I create the ColumnDataSource (CDS) objects. Here, however, two CDS `s2` and `s2_plot` are needed. `s2` will be used to store the percentages and angles for all lifeboats while `s2_plot` will contain information for only one lifeboat that is plotted at the moment. `s2` will be also used to update `s2_plot` when a different lifeboat is selected from the dropdown menu.

During the initalization of the Figure object `p2` I slightly adjusted the `y_range` so that the legend doesn't cover the pie chart itself. I also changed the parameter `tooltips` to show the percentages rounded to one decimal digit when hovering over the sectors.

The pie chart is created by adding circular sectors using the glyph `wedge()`. Its parameters `start_angle` and `end_angle` are easily calculated from the sector angles using the Bokeh function `cumsum()`.

The dropdown menu is added with the Select object along with the options list. When the user chooses a different value from the dropdown menu, the method `js_on_change()` will execute the `callback2`. It checks if the value in the dropdown menu is not `Please choose...` and then updates `s2_plot` with the information from `s2` for the corresponding lifeboat. Note that `cb_obj` is the built-in Bokeh variable to store the value of the selected option when callbacks are used.

In [ ]:
# Create the ColumnDataSource objects "s2" and "s2_plot"
s2 = ColumnDataSource(df2)
s2_plot = ColumnDataSource(df2_plot)

# Create the Figure object "p2"
p2 = figure(plot_width=275, plot_height=350, y_range=(-0.5, 0.7),
            toolbar_location=None, tools=['hover'], tooltips='@percent{0.0}%')

# Add circular sectors to "p2"
p2.wedge(x=0, y=0, radius=0.8, source=s2_plot,
         start_angle=cumsum('angle', include_zero=True), end_angle=cumsum('angle'),
         fill_color='color', line_color=None, legend='class')

# Change parameters of "p2"
p2.axis.visible = False
p2.grid.grid_line_color = None
p2.legend.orientation = 'horizontal'
p2.legend.location = 'top_center'

# Create the custom JavaScript callback
callback2 = CustomJS(args=dict(s2=s2, s2_plot=s2_plot), code='''
    var ang = ['1_ang', '2_ang', '3_ang'];
    var per = ['1_per', '2_per', '3_per'];
    if (cb_obj.value != 'Please choose...') {
        var boat = s2.data['Lifeboat'];
        var ind = boat.indexOf(cb_obj.value);
        for (var i = 0; i < ang.length; i++) {
            s2_plot.data['angle'][i] = s2.data[ang[i]][ind];
            s2_plot.data['percent'][i] = s2.data[per[i]][ind];
        }
    }
    else {
        for (var i = 0; i < ang.length; i++) {
            s2_plot.data['angle'][i] = undefined;
            s2_plot.data['percent'][i] = undefined;
        }

    }
    s2_plot.change.emit();
''')

# When changing the value of the dropdown menu execute "callback2"
options = ['Please choose...'] + list(s2.data['Lifeboat'])
select = Select(title='Lifeboat (in launch order)', value=options[0], options=options)
select.js_on_change('value', callback2)

# Display "select" and "p2" as a column
show(column(select, p2))

Notice that first 6 lifeboats were almost exclusively filled with the passengers from the 1st class.

# 4. Choropleth map with reset button

The third chart will display home countries of the Titanic survivors depending on the lifeboats. For this purpose I will be using a choropleth map and will do it in two steps. During the first step, I will import the countries coordinates and plot their boundaries. During the second step, I will fill in the shapes of the obtained countries with the numbers of people from these countries depending on the lifeboats.

## 4.1. Plotting countries boundaries

To import the coordinates of the countries boundaries, one can use the [Natural Earth map datasets](https://github.com/nvkelso/natural-earth-vector). Geopandas can easily import a GeoJSON file and returns a GeoDataFrame. The latter is very similar to a Pandas DataFrame, however, it has additional methods that are useful for handling geospatial data.

In [ ]:
gdf = gpd.read_file('https://raw.githubusercontent.com/nvkelso/natural-earth-vector/master/geojson/ne_110m_admin_0_countries.geojson')
gdf.head()

Let's remove Antarctica from `gdf` since nobody lives there and it occupies a lot of space on the plot (especially in the equirectangular projection). Usingt the Geopandas method `plot()` I quickly check that Antarctica was indeed removed from `gdf`.

In [ ]:
gdf = gdf[gdf.NAME != 'Antarctica']
gdf.plot(figsize=(10, 5));

The coordinates of the countries boundaries are stored in the column `geometry` as Polygon or MultiPolygon objects. When using the method `boundary` these objects return LineString and MultiLineString objects respectively.  The coordinates of a LineString object can be directly accessed using the method `xy`. The coordinates of the MultiLineString object need, however, to be extracted separately for every line. Therefore, the LineString and MultiLineString objects should be treated differently. Note that the boundary coordinates for Bokeh should be 3-times nested lists in order to plot them as multiple multipolygons. This complicated structure allows to distinguish multipolygons from each other, individual polygons inside a multipolygon and holes inside an individual polygon. One should keep this structure in mind when extracting the coordinates and add nested lists where necessary.

Finally, I create a DataFrame `df3_plot` that contains countries names, x-y coordinates of their boundaries and a counter for the number of people. For this test chart I fill the counter with `NaN`.

In [ ]:
xs = []
ys = []
for obj in gdf.geometry.boundary:
    if obj.type == 'LineString':
        obj_x, obj_y = obj.xy
        xs.append([[list(obj_x)]])
        ys.append([[list(obj_y)]])
    elif obj.type == 'MultiLineString':
        obj_x = []
        obj_y = []
        for line in obj:
            line_x, line_y = line.xy
            obj_x.append([list(line_x)])
            obj_y.append([list(line_y)])
        xs.append(obj_x)
        ys.append(obj_y)

country = gdf['NAME'].values        

df3_plot = pd.DataFrame({'country': country, 'xs': xs, 'ys': ys, 'count': float('nan')})

df3_plot.head()

Below is the code for test choropleth map that plots only countries boundaries.

In addition to the `hover` tool, I include `pan` and `wheel_zoom` to easily navigate the map. The hover tooltip is set to display the country name.

For plotting countries boundaries I use the Bokeh glyph `multi_polygons` that takes countries coordinates from `s3_plot`.

To reset the map view, I add a button that executes `callback3_test` when clicking on it. The reset of the chart is also possible using the tool `reset` from the toolbar but I decided not to include the whole toolbar just for one button.

In [ ]:
# Create the ColumnDataSource object "s3_plot"
s3_plot = ColumnDataSource(df3_plot)

# Create the Figure object "p3_test"
p3_test = figure(plot_width=775, plot_height=350,
                 toolbar_location=None, tools=['hover', 'pan', 'wheel_zoom'],
                 active_scroll='wheel_zoom', tooltips='@country')

# Add multipolygons to "p3_test"
p3_test.multi_polygons(xs='xs', ys='ys', fill_color='count', source=s3_plot)

# Change parameters of "p3_test"
p3_test.axis.visible = False
p3_test.grid.grid_line_color = None

# Create the custom JavaScript callback
callback3_test = CustomJS(args=dict(p3_test=p3_test), code='''
    p3_test.reset.emit();
''')    

# When clicking on the button execute "callback3_test"
button = Button(label='Reset view')
button.js_on_click(callback3_test)

# Display "p3_test" and "button" as a column
show(column(p3_test, button))

## 4.2. Filling in countries shapes

To fill in countries shapes I need find the number of people for each country in lifeboats. This information can be extracted from the Titanic extended dataset. I begin by creating the DataFrame `df3` with the columns `Lifeboat` and `Hometown`.

In [ ]:
df3 = full[['Lifeboat', 'Hometown']].copy()
df3.head()

I extract home countries using regular expressions with matched groups. Then I remove the column `Hometown` since it is not needed anymore.

In [ ]:
temp = df3.Hometown.str.extract(r'(?P<Town>.*)\, (?P<Country>.*$)')
df3['Home_country'] = temp['Country']
df3 = df3.drop('Hometown', axis=1, errors='ignore')

df3.head()

Afterwards I apply the same procedure to remove missing values and clean the values as in the previous sections.

In [ ]:
df3 = df3[(df3.Lifeboat.notna()) & (df3.Lifeboat != '?')]

df3.loc[df3.Lifeboat == '14?', 'Lifeboat'] = '14'
df3.loc[df3.Lifeboat == '15?', 'Lifeboat'] = '15'
df3.loc[df3.Lifeboat == 'A[64]', 'Lifeboat'] = 'A'

df3.head()

Note that some countries in `df3` are spelled as abbreviations (for example, "US" or "UK) or have references (for example, "UK[note 3]"), or don't exist anymore (for example, "Russian Empire").

In [ ]:
df3.Home_country.unique()

Therefore, the countries names need to be corrected according to their standard spelling.

In [ ]:
to_replace = [('US', 'United States of America'), ('UK[note 3]', 'India'),
              ('England', 'United Kingdom'), ('UK', 'United Kingdom'),
              ('Channel Islands', 'United Kingdom'), ('Siam', 'Thailand'),
              ('Syria[81]', 'Syria'), ('Scotland', 'United Kingdom'),
              ('British India', 'India'), ('Ireland[note 1]', 'Ireland'),
              ('Russian Empire', 'Russia'), ('Russian Empire[note 6]', 'Finland'),
              ('Siam[note 5]', 'Thailand'), ('German Empire[note 2]', 'Germany'),
              ('British India[note 3]', 'India')]

for old, new in to_replace:
    df3.loc[df3.Home_country == old, 'Home_country'] = new
    
df3.Home_country.unique()

Then I apply the rest of the familiar procedures to group the number of people from different countries for each lifeboat.

In [ ]:
df3 = pd.get_dummies(df3, columns=['Home_country'], prefix='', prefix_sep='')

df3 = df3.groupby('Lifeboat', as_index=False).sum()

order = ['7', '5', '3', '8', '1', '6', '16', '14', '12', '9',
         '11', '13', '15', '2', '10', '4', 'C', 'D', 'B', 'A']
df3 = df3.set_index('Lifeboat').reindex(order).reset_index()

df3.head()

Note, however, that this is not the full list of countries that are displayed on the choropleth map. Therefore, I need to add the columns for all other countries from `d3_plot` and rearrange them in the same order as they appear in `d3_plot`.

In [ ]:
country = df3_plot['country']
diff = country[~country.isin(df3.columns)].values
df3 = pd.concat([df3, pd.DataFrame(columns=diff)], axis=1).fillna(0)
df3 = df3.loc[:, np.append(['Lifeboat'], country.values)]

df3.head()

Below is the code for the complete choropleth map.

In addition to the test choropleth map, I created the colormap `cmap` that is used to fill in multipolygons. The upper limit of `cmap` is set to 1 so that all countries that have more than 1 person are highlighted with dark blue. In this way, it is easier to see smaller countries.

I also adapted the hover tooltip to show the number of people after the country name.

Finally, to choose a lifeboat, I have added the same dropdown menu as in the pie chart.

In [ ]:
# Create the ColumnDataSource objects "s3_plot" and "s3"
s3_plot = ColumnDataSource(df3_plot)
s3 = ColumnDataSource(df3)

# Reverse the palette and create a linear color map
Blues8.reverse()
cmap = linear_cmap('count', palette=Blues8, low=0, high=1)

# Create the Figure object "p3"
p3 = figure(plot_width=775, plot_height=350,
            toolbar_location=None, tools=['hover', 'pan', 'wheel_zoom'],
            active_scroll='wheel_zoom', tooltips='@country: @count')

# Add multipolygons to "p3"
p3.multi_polygons(xs='xs', ys='ys', fill_color=cmap, source=s3_plot)

# Change parameters of "p3"
p3.axis.visible = False
p3.grid.grid_line_color = None

# Create the custom JavaScript callbacks
callback3_select = CustomJS(args=dict(s3=s3, s3_plot=s3_plot), code='''
    var country = s3_plot.data['country'];
    if (cb_obj.value != 'Please choose...') {
        var boat = s3.data['Lifeboat'];
        var ind = boat.indexOf(cb_obj.value);
        for (i = 0; i < country.length; i++) {
            s3_plot.data['count'][i] = s3.data[country[i]][ind];
        }
    }
    else {
        for (i = 0; i < country.length; i++) {
            s3_plot.data['count'][i] = undefined;
        }
    }
    s3_plot.change.emit();
''')

callback3_button = CustomJS(args=dict(p3=p3), code='''
    p3.reset.emit();
''')
    
# When changing the value of the dropdown menu execute "callback3_select"
options = ['Please choose...'] + list(s3.data['Lifeboat'])
select = Select(title='Lifeboat (in launch order)', value=options[0], options=options)
select.js_on_change('value', callback3_select)

# When clicking on the reset button execute "callback3_button"
button = Button(label='Reset view')
button.js_on_click(callback3_button)

# Display "select", "p3", and "button" as a column
show(column(select, p3, button))

# 5. Interactive dashboard of all three charts

Now that we have all 3 charts, let's combine them in one dashboard. I don't have to initialize the charts again but can simply display them in a preferred layout.

The only new element here is the `callback4` that updates the other two charts when a specific bar from the bar chart is tapped.

In [ ]:
# Create the custom JavaScript callback
callback4 = CustomJS(args=dict(s1=s1, s2=s2, s3=s3, s2_plot=s2_plot, s3_plot=s3_plot), code='''
    var ind = s1.selected.indices;
    var ang = ['1_ang', '2_ang', '3_ang'];
    var per = ['1_per', '2_per', '3_per'];
    var country = s3_plot.data['country'];
    if (String(ind) != '') {
        for (i = 0; i < ang.length; i++) {
            s2_plot.data['angle'][i] = s2.data[ang[i]][ind];
            s2_plot.data['percent'][i] = s2.data[per[i]][ind];
        }
        for (i = 0; i < country.length; i++) {
            s3_plot.data['count'][i] = s3.data[country[i]][ind];
        }
    }
    else {
        for (i = 0; i < ang.length; i++) {
            s2_plot.data['angle'][i] = undefined;
            s2_plot.data['percent'][i] = undefined;
        }
        for (i = 0; i < country.length; i++) {
            s3_plot.data['count'][i] = undefined;
        }
    }
    s2_plot.change.emit();
    s3_plot.change.emit();
''')    
    
# When tapping the plot "p1" execute "callback4"
p1.js_on_event('tap', callback4)

# Display "p1","p2", "p3" and "button" in the specified layout
l = layout([[p1, p2], [p3], [button]])
show(l)

Thanks for **UPVOTING** this kernel! Trying to become a Kernels Master. 🤘

Check out my other cool projects:
- [💲 Minimizing investment risk for high interest loans](https://www.kaggle.com/pavlofesenko/minimizing-investment-risk-for-high-interest-loans)
- [🌐 Extending Titanic dataset using Wikipedia](https://www.kaggle.com/pavlofesenko/extending-titanic-dataset-using-wikipedia)
- [👪 Titanic extended dataset (Kaggle + Wikipedia)](https://www.kaggle.com/pavlofesenko/titanic-extended)